// -----------------------------------------------------------------------------
// This file contains all styles related to the articles section
// -----------------------------------------------------------------------------

//
// Articles container and main heading
// ==========================================================================

.articles {
  background-color: $clr-gray-light;

  padding-top: 5.625rem;
  padding-bottom: 5.5rem;
  text-align: center;
}



.articles__heading {
  font-size: 1.9rem;
  margin-bottom: 2.2rem;

  @media (min-width: $bp-large) {
    font-size: 2.35rem;
  }
}



//
// Article sub-sections
// ==========================================================================

.article {
  background: $clr-white;
  max-width: $grid-item-max-width;

  margin: 0 auto;
  &:nth-last-child(n+2) {
    margin-bottom: 24px;

    @media (min-width: $bp-medium) {
      margin-bottom: 0;
    }
  }
}



//
// Article images
// 1. Resize image to required size
// 2. Cropps image rather than streching to fit new dimensions
// 3. Correction to small gap left
//
.article__image {
  height: 200px; // 1 //
  width: 100%; // 1 //
  object-fit: cover; // 2 //  
  margin-bottom: -4px; // 3 //
}



// Vertical spacing and text sizing
.article__textbox {
  text-align: left;
  padding: 30px 30px 42px;
}



.article__author {
  font-size: 10px;
  margin-bottom: 10px;
}



.article__title {
  font-size: 16px;
  margin-bottom: 10px;

  @include on-event {
    cursor: pointer;
    color: $clr-green;
  }
}



.article__copy {
  font-size: 12.5px;
  line-height: 1.5;
}



//
// Media queries
// ==========================================================================

// Medium screens
@media (min-width: $bp-medium) {

  .articles {
    padding-bottom: 5rem;
  }



  .articles .container {
    @include grid(2);
  }



  .articles__heading {
    @include grid-heading;
    margin-bottom: 1.425rem;
  }



  .article__textbox {
    padding: 25px 25px 30px;
  }
}



// Large screens
@media (min-width: $bp-large) {

  .articles .container {
    @include grid(4);
  }



  .articles__heading {
    margin-right: auto;
  }
}