// -----------------------------------------------------------------------------
// This file contains all styles related to the details section
// -----------------------------------------------------------------------------

// Details dection base styles
.details {
  background-color: $clr-gray-mid;
  text-align: center;

  padding-top: 4.25rem;
  padding-bottom: 4.25rem;
}



.details__heading {
  max-width: 400px;
  margin: 0 auto 3.6rem;
}



.details__heading h2 {
  margin: 0 auto 1rem;
}



//
// Item sub-sections
// ==========================================================================

.details__item {
  max-width: $grid-item-max-width;
  margin: 0 auto;
}



// Vertical spacing for mobile view
.details__item >:nth-last-child(n+2) {
  margin-bottom: 20px;
}
.details__item:nth-last-child(n+2) {
  margin-bottom: 35px;
}



//
// Media queries
// ==========================================================================

// Medium screens layout
@media (min-width: $bp-medium) {
  
  .details {
    padding-top: 6.875rem;
    padding-bottom: 6.875rem;
  }
  


  .details .container {
    @include grid(2);
  }
  


  .details__heading {
    @include grid-heading;
  }
}



// Large screens layout
@media (min-width: $bp-large) {

  .details .container {
    @include grid(4);
    text-align: left;
  }


  
  .details__heading {
    margin-left: 0;
  }
}