// -----------------------------------------------------------------------------
// This file contains all styles related to the intro section
// -----------------------------------------------------------------------------

//
// Intro section
// ==========================================================================

//  Section base styles
.intro {
  text-align: center;
  position: relative; // 3 //
  background-color: $clr-gray-light;
 

// Two color background image as psuedo element
// 1. Set background image & dimensions
// 2. Absolutely positioned ot enable overflow of sections
// 3. Dimensions of absolute section
// 4. Set responsive flex order in relation to copy section
  &::after {
    content: ""; 
    display: block;

    position: absolute; // 3 //
    top: 0; // 3 //
    z-index: 1;

    // Mobile screens
    background: center / cover no-repeat url("../../images/bg-intro-mobile.svg"); // 1 //
    background-color: $clr-gray-light;
    width: 100%; // 2 //
    height: 280px; // 2 //

    // Medium screens
    @media (min-width: $bp-medium) {
      background: no-repeat url("../../images/bg-intro-desktop.svg"); // 1 //
      background-size: 88.4%; // 1 //
      background-position: 340px -210px; // 1 //
      background-color: $clr-gray-light;
      height: 100%; // 2 //
    }

    // Large screens
    @media (min-width: $bp-large) {
      background-position: 610px -256px; // 1 //
    }
    // X Large screens
    @media (min-width: $bp-xlarge) {
      background-position: 750px -256px; // 1 //
    }
  }
}



// Layout for intro section
.intro .container {
  display: flex;
  flex-direction: column;

  @media (min-width: $bp-medium) {
    flex-direction: row;
    align-items: center;
    height: 655px;
  }
}



//
// Images sub-section
// ==========================================================================

//
// Container for mockup images
// 1. Centered within .container
// 2. Height matches background images for mobile view
// 3. Mockup images positioned relative to this
// 4. Flex order with .intro__copy changes on on medium+ screens
// 5. Set proportion of parent container this takes up on medium+ screens
//
.intro__images {
  position: relative; // 3 //
  
  height: 280px; // 2 //
  max-width: 325px; // 1 //
  width: 100%; // 1 //
  margin-left: auto; // 1 //
  margin-right: auto; // 1 //
  margin-bottom: 35px;
  
  order: -1; // 4 //

  @media (min-width: $bp-medium) {
    order: 1; // 4 //
    flex-basis: 51.5%; // 5 //
    max-width: 100%;
    margin-bottom: 0;
  }
}



// Phone image mockups positioning
// 1. Z-index in relation to section background image
.intro__mockups {
  position: absolute;
  top: -121px;
  left: -8px;
  z-index: 2; // 1 //
  min-width: 104%;;



  @media (min-width: $bp-medium) {
    top: -250px;
    left: 80px;
  }



  @media (min-width: $bp-large) {
    top: -315px;
    left: 165px;
    min-width: 135.5%;
  }
}



//
// Copy sub-section
// ==========================================================================

// Section positioning for medium+ screens
// 1. Z-index in relation to section background image
// 2. Set proportion of parent container this takes up on medium+ screens
//
.intro__copy {
  z-index: 2; // 1 //
  max-width: 430px;
  margin-left: auto;
  margin-right: auto;

  @media (min-width: $bp-medium) {
    text-align: left;
    flex-basis: 48.5%; // 3 //
    margin: 0;
  }
}



// Copy internal elements positioning
.intro__title {
  font-size: 2.4rem;
  max-width: 400px;
  margin-bottom: 22.5px;
  
  @media (min-width: $bp-large) {
    max-width: 430px;
    font-size: 3.4rem;
  }
}



.intro__subtext { margin-bottom: 30px; }
.intro__btn { margin-bottom: 88px; }

