// -----------------------------------------------------------------------------
// This file contains all styles related to the intro 
// -----------------------------------------------------------------------------


//
// Intro section
// ==========================================================================

//  Section colors and overall layout
.intro {
  background: $clr-gray-light;
  text-align: center;

  display: flex;
  flex-direction: column;

  @media (min-width: $bp-medium) {
    flex-direction: row;
    align-items: center;
    height: 655px;
  }
}



//
// Images sub-section
// ==========================================================================

//
// Images section
// 1. Set background image for section
// 2. Set responsive flex order in relation to copy section
// 3. Set proportion of parent container this takes up on medium+ screens
//
.intro__images {
  background: center / cover no-repeat url("../../images/bg-intro-mobile.svg"); // 1 //
  width: 100%; // 1 //
  height: 280px; // 1 //

  order: -1; // 2 //
  margin-bottom: 35px;

  @media (min-width: $bp-medium) {
    background-image: url("../../images/bg-intro-desktop.svg"); // 1 //
    background-position: -70px -270px;
    background-size: 1271px;
    height: 100%; // 1 //

    order: 1; // 2 //
    flex-basis: 51.5%; // 3 //

    margin-bottom: 0;
  }
}



//
// Container for mockup images
// 1. Enables background image to fill to margins, padding alignment is kept
// 2. Mockup images positioned relative to this
//
.intro__images .container {
  position: relative; // 2 //
  max-width: 375px; // 1 //

  @media (min-width: $bp-medium) {
    max-width: 100%;
  }
}



// Phone image mockups positioning
.intro__mockups {
  position: absolute; // 2 //
  top: -115px;
  left: 0;
  padding: 0 25px; // 1 //

  @media (min-width: $bp-medium) {
    max-width: 110%;
    top: -125px;
    left: 80px;
  }
}



//
// Copy sub-section
// ==========================================================================

// Section positioning for medium+ screens
// 3. Set proportion of parent container this takes up on medium+ screens
//
.intro__copy.container {
  max-width: 400px;

  @media (min-width: $bp-medium) {
    text-align: left;
    flex-basis: 48.5%; // 3 //
  }
}


// Internal element positioning
.intro__title {
  font-size: 2.4rem;
  margin-bottom: 22.5px;
}

.intro__subtext { margin-bottom: 30px; }

.intro__btn { margin-bottom: 88px; }