// -----------------------------------------------------------------------------
// This file contains all styles related to the nav of the site/application.
// -----------------------------------------------------------------------------
// Nav section basic styling and layout
// 1. Sit on top of bodal background
.nav { 
  background: $clr-white;

  z-index: 5; // 1 //
  position: relative; // 1 //

  padding-top: 20px;
  padding-bottom: 21px;
}



// Hides button on small screens
.nav__btn {
  display: none;



  @media (min-width: $bp-medium) {
    display: block;
  }
}



@media (min-width: $bp-medium){

  .nav {
    padding: 0;
  }



  .nav .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}