// -----------------------------------------------------------------------------
// This file contains all styles related to the Nav Menu component.
// -----------------------------------------------------------------------------

//
// Mobile nav menu styles (default)
// ==========================================================================

// Nav menu
// 1. Hide by default, shown when active applied on click event
.nav__menu {
  background: $clr-white;
  text-align: center;

  display: none; // 1 //
  border-radius: 5px;
  margin-left: 25px;
  margin-right: 25px;
  padding-top: 17px;
  padding-bottom: 17px
}



// Menu links for mobile view
// 1. Links stretch width of container
.nav__menu a {
  color: $clr-primary;
  display: block; // 1 //
  padding: 13px 0;
}



//
// Active dropdown menu specific elements
// ==========================================================================

// Show nav menu when hamburger clicked
.nav__menu--active {
  display: block;

  position: absolute;
  top: 88px;
  left: 0;
  right: 0;
}



// Hamburger button basic styles
.hamburger {
  background: center / contain no-repeat url("../../images/icon-hamburger.svg");
  width: 28px;
  height: 28px;
  float: right;
  cursor: pointer;
  
  // Hide button on medium+ screens when full menu row becomes visible
  @media (min-width: $bp-medium) {
    display: none;
  }
}



// Change hamburger menu icon on menu active
// 1. Change image and 2. resize for new image
.hamburger--active {
  background-image: url("../../images/icon-close.svg"); // 1 //
  width: 23px; // 2 //
  height: 23px; // 2 //
}



// The modal (background tint)
// 1. Hidden by default, display on active
// 2. Stay in place covering body
// 3. Sit on top of background and phones image
// 4. Enable scroll if needed
.modal-background {
  display: none; // 1 //
  position: fixed; // 2. //
  z-index: 3; // 3 //
  left: 0;
  top: 0;
  width: 100%; // 2. //
  height: 100%; // 2. //
  overflow: auto; // 4 //
  background-color: rgba(0,0,0,0.4); // Black w/ opacity //
}



// Show modal (background tint) on menu active
.modal-background--active {
  display: block; // 1 //
}



//
// Desktop nav menu styles
// ==========================================================================

@media (min-width: $bp-medium) {

  .nav__menu {
    display: inline-block;
    padding: 0;
  }



  // Menu items become row
  .nav__menu li {
      display: inline-block;
      margin-right: 30px;
      &:last-child { margin-right: 0}
  }



  // Gradient underline on event
  .nav__menu a {
    color: $clr-gray-dark;
    font-size: 14.5px;
    border-bottom: 3px solid $clr-white;
    padding-top: 30px;
    padding-bottom: 30px;

    @include on-event {
      color: $clr-primary;
      border-image: $gradient 1;
    }
  }
}